Invoice/Srini/Laserbeam.Compass/Laserbeam.Compass/Laserbeam.UI.HR/Service References/ServiceReference/ErrorLog.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ErrorLog" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.104/ErrorTracker/LogError?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.104/ErrorTracker/LogError?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.104/ErrorTracker/LogError?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessObject" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IErrorLog_LogSingleException_InputMessage">
    <wsdl:part name="parameters" element="tns:LogSingleException" />
  </wsdl:message>
  <wsdl:message name="IErrorLog_LogSingleException_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogSingleExceptionResponse" />
  </wsdl:message>
  <wsdl:message name="IErrorLog_LogMultipleException_InputMessage">
    <wsdl:part name="parameters" element="tns:LogMultipleException" />
  </wsdl:message>
  <wsdl:message name="IErrorLog_LogMultipleException_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogMultipleExceptionResponse" />
  </wsdl:message>
  <wsdl:portType name="IErrorLog">
    <wsdl:operation name="LogSingleException">
      <wsdl:input wsaw:Action="http://tempuri.org/IErrorLog/LogSingleException" message="tns:IErrorLog_LogSingleException_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IErrorLog/LogSingleExceptionResponse" message="tns:IErrorLog_LogSingleException_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogMultipleException">
      <wsdl:input wsaw:Action="http://tempuri.org/IErrorLog/LogMultipleException" message="tns:IErrorLog_LogMultipleException_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IErrorLog/LogMultipleExceptionResponse" message="tns:IErrorLog_LogMultipleException_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ErrorLog" />
</wsdl:definitions>