Invoice/Srini/Laserbeam.Compass/Laserbeam.Compass/Laserbeam.UI.HR/Service References/ServiceReference/LogError2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.104/ErrorTracker/LogError?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessObject" />
  <xs:element name="LogSingleException">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessObject" minOccurs="0" name="exceptionLog" nillable="true" type="q1:ExceptionLogModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogSingleExceptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogMultipleException">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessObject" minOccurs="0" name="exceptionLog" nillable="true" type="q2:ArrayOfExceptionLogModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogMultipleExceptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>